---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { getSanity } from '../lib/api'

const { title = 'The Soul Of The Gypsy', description, keywords, pathname, pagename } = Astro.props

const query = `*[_type == "gallery"]{
	...,
	sections[]{
		...,
		projects[]->{
			...
		}
	}
}`
const galleryCollectionSections = await getSanity(query)
const sections = galleryCollectionSections[0].sections
const collectionSections = sections.filter((section) => section._type === 'collection')
---

<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y6VYDL237R"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || []
			function gtag() {
				dataLayer.push(arguments)
			}
			gtag('js', new Date())

			gtag('config', 'G-Y6VYDL237R')
		</script>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/kev-ash-favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<meta name="description" content={description} />
		<meta name="keywords" content={keywords} />
		<meta name="author" content="Island Web Design | Guernsey & Jersey" />
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content="https://soulofthegypsy.com/soul-of-the-gypsy-og.webp" />
		<meta property="og:url" content={`https://soulofthegypsy.com/${pathname}`} />
		<meta property="og:image" content="https://soulofthegypsy.com/soul-of-the-gypsy-og.webp" />
		<meta
			property="og:image:secure_url"
			content="https://soulofthegypsy.com/soul-of-the-gypsy-og.webp"
		/>
		<meta property="og:image:type" content="image/webp" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="600" />
		<meta property="og:image:alt" content="Jersey Street Furniture Solutions" />

		<link rel="canonical" href={`https://soulofthegypsy.com/${pathname}`} />
	</head>
	<body>
		<div class="scroll-content">
			<Header pagename={pagename} />
			<slot />
			<Footer collections={collectionSections} />
		</div>
	</body>
</html>
