---
const { title, tag, text, image, pagename = 'home' } = Astro.props
import { formatText } from '../../lib/formatText'
import { urlForImage } from '../../lib/urlForImage'
import Button from '../Button.astro'
import Tag from '../type/Tag.astro'
const paragraphs = formatText(text)
---

<section class="card-section">
	<div class="wrapper">
		<div class="card">
			<div class="left">
				{pagename === 'gallery' ? <h1>{title}</h1> : <h2>{title}</h2>}
				<Tag text={tag} />
				{paragraphs.map(({ paragraph }) => <p>{paragraph}</p>)}
				<Button to="/gallery/" variant="white-outline" text="View full gallery" />
			</div>
			<div class="right">
				<img src={urlForImage(image).format('webp').url()} alt={image.alt} />
			</div>
		</div>
	</div>
</section>
<script>
	import { gsap } from 'gsap'
	import { ScrollTrigger } from 'gsap/ScrollTrigger'
	gsap.registerPlugin(ScrollTrigger)

	gsap.to('.card-section .card', {
		scrollTrigger: {
			trigger: '.card-section .card',
			start: 'top 90%',

			toggleActions: 'play none none reverse'
		},
		clipPath: 'polygon(0 -50%, 150% -50%, 150% 100%, 0 100%)'
	})
</script>

<style lang="scss">
	.card-section {
		.wrapper {
			padding-block: 6rem;

			.card {
				width: 100%;
				background-color: $light-black;
				display: flex;
				align-items: stretch;
				padding: 4rem 4rem;
				gap: 2rem;
				clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
				position: relative;

				.left {
					width: 55%;
					align-self: center;
					h2 {
						color: $white;
						width: 100%;
						max-width: 18ch;
						margin-block: 0 2rem;
						font-size: $mobile-h2;
					}
					h1 {
						font-size: $mobile-h1;
						color: $white;
						width: 100%;
						max-width: 18ch;
						margin-block: 0 2rem;
					}
					p {
						margin-block: 1.5rem 2.5rem;
						max-width: 50ch;
					}
					.buttons {
						display: flex;
						align-items: flex-start;
						gap: 1rem;
						a {
							color: $white;
							font-weight: 300;
							text-decoration: underline;
							display: block;
							cursor: pointer;
						}
					}
				}
				.right {
					width: 45%;
					margin-block-end: -4rem;
					margin-inline-end: -4rem;
					width: calc(45% + 4rem);
					display: flex;
					align-items: flex-end;
					position: relative;

					img {
						&:nth-child(2) {
							position: absolute;
							width: 100px;
							top: -6rem;
							right: -2rem;
						}
					}
				}
			}
		}
		@media (max-width: 900px) {
			.wrapper {
				.card {
					flex-direction: column;

					.left {
						width: 100%;
						h2 {
							max-width: 16ch;
						}
					}
					.right {
						width: calc(100% + 4rem);
					}
				}
			}
		}
		@media (max-width: 700px) {
			.wrapper {
				.card {
					padding-inline: 2rem;
					.right {
						width: calc(100% + 2rem);
					}
				}
			}
		}
		@media (max-width: 500px) {
			.wrapper {
				.card {
					padding-inline: 1rem;
					.right {
						width: calc(100% + 1rem);
					}
				}
			}
		}
	}
</style>
