---
import { urlForImage } from '../../lib/urlForImage'
import Button from '../Button.astro'
import Project from '../items/Project.astro'

const { title, image, projects, titleColor, themeColor = 'sketchbook' } = Astro.props

const bgUrl = `url(${urlForImage(image).format('webp').url()})`
---

<script>
	import { gsap } from 'gsap'
	import { ScrollTrigger } from 'gsap/ScrollTrigger'
	gsap.registerPlugin(ScrollTrigger)

	const allProjectItems = document.querySelectorAll('.project .mask > img')
	const allProjectItemsText = document.querySelectorAll('.project > .text')

	allProjectItems.forEach((project, index) => {
		const projectText = allProjectItemsText[index]

		const tl = gsap.timeline({
			scrollTrigger: {
				trigger: project,
				start: 'top 80%',
				toggleActions: 'play none none reverse'
			}
		})

		tl.to(project, {
			clipPath: 'polygon(0 0, 100% 0, 100% 100%, 0% 100%)'
		})
			.to(
				project,
				{
					scale: 1,
					ease: 'power1.inOut'
				},
				'-=0.35'
			)
			.to(projectText, {
				opacity: 1,
				y: 0,
				duration: 0.5
			})
	})

	const allBannerH2s = document.querySelectorAll('.banner h2')
	const allBannerImages = document.querySelectorAll('.banner')

	allBannerImages.forEach((image) => {
		gsap.to(image, {
			scrollTrigger: {
				trigger: image,
				start: 'top 80%',
				toggleActions: 'play none none reverse'
			},
			clipPath: 'polygon(0 0, 99.99% 0, 99.99% 100%, 0% 100%)'
		})
	})

	allBannerH2s.forEach((h2) => {
		gsap.to(h2, {
			scrollTrigger: {
				trigger: h2,
				start: 'top bottom',
				toggleActions: 'play none none reverse'
			},
			y: 0,
			opacity: 1
		})
	})
</script>
<section
	id={title.split(' ').join('-').toLowerCase()}
	class={`
	${themeColor.split(' ').join('-').toLowerCase()}
	collection-section`}
>
	<div class="wrapper">
		<div class="banner">
			<div class="content">
				<h2 class={titleColor}>{title}</h2>
			</div>
		</div>
		<div class="projects">
			{
				themeColor === 'sketchbook' ? (
					<img src="/images/image 53.webp" alt="Biker Illustration" />
				) : null
			}
			{
				projects.map((project, index) => (
					<Project
						sticker={project.sticker ? project.sticker : null}
						title={project.title}
						text={project.description}
						index={index}
						image={project.image}
					/>
				))
			}
		</div>
		<div class="bottom">
			{
				themeColor === 'sketchbook' ? (
					<>
						<img src="/images/worker-cutout 1.webp" alt="Working Man Painting" />
						<Button text="Contact us now" variant="black-outline" to="/#contact" />
						<img src="/images/singer-nobg 1.webp" alt="Howling Wolf Drawing" />
					</>
				) : themeColor.split(' ').join('-').toLowerCase() === 'fine-art' ? (
					<>
						<img
							src="/images/stickers/gallery-stickers/Mask group.webp"
							alt="Working Man Painting"
						/>
						<Button text="Contact us now" variant="white-outline" to="/#contact" />
						<img src="/images/stickers/PngItem_4919813 1.webp" alt="Howling Wolf Drawing" />
					</>
				) : themeColor.split(' ').join('-').toLowerCase() === 'murals' ? (
					<>
						<img src="/images/stickers/PngItem_1679584 1.webp" alt="Working Man Painting" />
						<Button text="Contact us now" variant="black-outline" to="/#contact" />
						<img
							src="/images/stickers/gallery-stickers/pngwing 8.webp"
							alt="Howling Wolf Drawing"
						/>
					</>
				) : (
					<>
						<img src="/images/stickers/gallery-stickers/image 52.webp" alt="Working Man Painting" />
						<Button text="Contact us now" variant="white-outline" to="/#contact" />
						<img
							src="/images/stickers/gallery-stickers/kustum-sticker 1.webp"
							alt="Howling Wolf Drawing"
						/>
					</>
				)
			}
		</div>
	</div>
</section>

<script>
	import { gsap } from 'gsap'
	import { ScrollTrigger } from 'gsap/ScrollTrigger'
	gsap.registerPlugin(ScrollTrigger)

	const allBottomStickers = document.querySelectorAll('.bottom > img')

	allBottomStickers.forEach((sticker) => {
		gsap.to(sticker, {
			scrollTrigger: {
				trigger: sticker,
				start: 'top 80%',
				toggleActions: 'play none none reverse'
			},
			scale: 1
		})
	})

	gsap.to('.fine-art', {
		scrollTrigger: {
			trigger: '.fine-art .projects',
			start: 'top 70%',
			toggleActions: 'play none none reverse'
		},
		backgroundColor: '#030303'
	})
	gsap.to('.sketchbook', {
		scrollTrigger: {
			trigger: '.sketchbook .projects',
			start: 'top 70%',
			toggleActions: 'play none none reverse'
		},
		backgroundColor: '#ffffff'
	})
	gsap.to('.kustum', {
		scrollTrigger: {
			trigger: '.kustum .projects',
			start: 'top 70%',
			toggleActions: 'play none none reverse'
		},
		backgroundColor: '#532b77'
	})
</script>

<style is:global define:vars={{ bgUrl }} lang="scss">
	.collection-section {
		background-color: $white;

		.wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			.banner {
				background-image: linear-gradient(#0303036d, #0303036d), var(--bgUrl);
				background-size: cover;
				background-position: center;
				width: 100vw;
				margin-block-start: -6rem;
				padding-block: 40rem 2rem;
				clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);

				@media (max-width: 700px) {
					// margin-block-start: -3rem !important;
					padding-block: 32rem 2rem;
				}

				.content {
					max-width: 1440px;
					margin-inline: auto;
					padding-inline: 4rem;
					width: 100%;

					@media (max-width: 700px) {
						padding-inline: 2rem;
					}
					@media (max-width: 500px) {
						padding-inline: 1rem;
					}
				}

				h2 {
					color: $white;
					opacity: 0;
					transform: translateY(4rem);

					&.white {
						color: $white;
					}
					&.black {
						color: $black;
					}
				}
			}
			.projects {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				gap: 6rem;
				position: relative;
				margin-block: 6rem;
				row-gap: 12rem;

				& > img {
					position: absolute;
					width: 150px;
					top: 40%;
				}

				.project {
					.text {
						h3 {
							color: $black;
						}
						p {
							color: $black;
						}
					}
				}
			}
			.bottom {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				position: relative;
				z-index: 10;
				& > img {
					width: 200px;
					scale: 0;

					&:nth-child(1) {
						margin-inline-start: -4rem;
						margin-block-end: -6rem;
					}
					&:nth-child(3) {
						margin-inline-end: -4rem;
						margin-block-end: -9rem;
					}
				}
			}
		}
		&.fine-art {
			background-color: $white;

			.wrapper {
				.banner {
				}
				.projects {
					.project {
						.text {
							h3 {
								color: $white;
							}
							p {
								color: $white;
							}
						}
					}
				}
			}
		}
		&.sketchbook {
			background-color: $black;
			.wrapper {
				.banner {
				}
				.projects {
					.project {
						.text {
							h3 {
								color: $black;
							}
							p {
								color: $black;
							}
						}
					}
				}
			}
		}
		&.kustum {
			background-color: $white;

			.wrapper {
				.projects {
					.project {
						.text {
							h3 {
								color: $white;
							}
							p {
								color: $white;
							}
						}
					}
				}
			}
		}
		&.murals {
			background-color: $blue;

			.wrapper {
				.projects {
					.project {
						.text {
							h3 {
								color: $black;
							}
							p {
								color: $black;
							}
						}
					}
				}
			}
		}
		@media (max-width: 1024px) {
			.wrapper {
				.projects {
					grid-template-columns: 1fr 1fr;
					column-gap: 4rem;
					row-gap: 6rem;
				}
			}
		}
		@media (max-width: 800px) {
			.wrapper {
				.projects {
					grid-template-columns: 1fr;
					column-gap: 4rem;
					row-gap: 6rem;
				}
			}
		}

		@media (max-width: 550px) {
			.wrapper {
				.bottom {
					flex-direction: column;
					gap: 4rem;

					& > img {
						margin: 0 !important;

						&:nth-child(1) {
							display: none;
						}
					}
				}
			}
		}
	}
</style>
