---
import GalleryCta from '../components/GalleryCta.astro'
import GalleryHero from '../components/GalleryHero.astro'
import Card from '../components/sections/Card.astro'
import Collection from '../components/sections/Collection.astro'
import QuoteCard from '../components/sections/QuoteCard.astro'
import Video from '../components/Video.astro'
import Layout from '../Layouts/Layout.astro'
import { getSanity } from '../lib/api'
import '/src/styles/style.scss'

const query = `*[_type == "gallery"]{
	...,
	sections[]{
		...,
		projects[]->{
			...
		}
	}
}`
const gallerySections = await getSanity(query)
const sections = gallerySections[0].sections
const collectionSections = sections.filter((section) => section._type === 'collection')
---

<script is:inline src="/ScrollSmoother.min.js"></script>
<script>
	import { gsap } from 'gsap'
	import { ScrollTrigger } from 'gsap/ScrollTrigger'

	gsap.registerPlugin(ScrollTrigger)
	gsap.registerPlugin(ScrollSmoother)

	window.smoother = ScrollSmoother.create({
		content: document.querySelector('.scroll-content'),
		smooth: 2, // how long (in seconds) it takes to "catch up" to the native scroll position
		effects: true, // looks for data-speed and data-lag attributes on elements
		smoothTouch: 0 // much shorter smoothing time on touch devices (default is NO smoothing on touch devices)
	})

	let smoother = window.smoother

	const eachMenuItem = document.querySelectorAll('.list-item')
	const eachCollection = document.querySelectorAll('.collection-section')
	const dialogToClose = document.querySelector('.search-dialog')

	eachMenuItem.forEach((item, index) => {
		item.addEventListener('click', () => {
			smoother.scrollTo(eachCollection[index], true, 'top top')
			dialogToClose.close()
		})
	})

	window.onload = (event) => {
		let urlHash = window.location.href.split('#')[1]

		let scrollElem = document.querySelector('#' + urlHash)

		if (urlHash && scrollElem) {
			smoother.scrollTo(scrollElem, true, 'top top')
		}
	}
</script>
<Layout
	title="Soul of the Gypsy Gallery | Order a Custom Piece"
	description="Explore Kev Ash's creations in our gallery, from Graphite Art to Oil Paintings Custom Clothing Designs & much more. Immerse yourself in the Soul of the Gypsy and order a custom piece today."
	pathname="gallery/"
	pagename="gallery"
>
	<GalleryHero tag="Kev Ash" title="Gallery" styles={collectionSections} pagename="gallery" />
	{
		sections.map((section) => {
			switch (section._type) {
				case 'collection':
					return (
						<Collection
							titleColor={section.titleColor}
							title={section.title}
							description={section.description}
							image={section.image}
							projects={section.projects}
							themeColor={section.themeColor}
						/>
					)
				case 'basic':
					return <GalleryCta title={section.title.title} />
				default:
					return null
			}
		})
	}
</Layout>
<Video />

<a class="fixed open-modal" id="open-modal">
	<img src="/svg/menu-black.svg" alt="Open Art Menu Icon" />
</a>
<style is:global lang="scss">
	#open-modal.fixed {
		width: 3rem;
		height: 3rem;
		position: fixed;
		background-color: $white;
		box-shadow:
			rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
			rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
			rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
		border-radius: 50%;
		padding: translateY(-0.25rem);
		display: grid;
		place-items: center;
		bottom: 4rem;
		right: 4rem;
		cursor: pointer;
		transition: 300ms scale ease;
		visibility: hidden;
		pointer-events: none;

		&:hover {
			scale: 1.1;
			transition: 300ms scale ease;
		}
		img {
			width: 2rem;
			transform: rotateY(180deg);
		}

		@media (max-width: 700px) {
			bottom: translateY(-0.25rem);
			right: 2rem;
		}
	}
</style>
